@model Proyecto_final_Rivera_Paz_Diego_Eduardo.Models.Categoria

@{
    ViewBag.Title = "ConsultarPorIDCategoria";
}

<h2>Consultar Por ID de Categoría</h2>

@if (Model == null)
{
    <div class="alert alert-danger">
        <strong>Error:</strong> No se encontró una categoría con el ID proporcionado.
    </div>
}
else
{
    <div>
        <h4>Detalles de la Categoría</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.IdCategoria)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IdCategoria)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Condicion)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Condicion)
            </dd>
        </dl>

        <div>
            @Html.ActionLink("Volver a la Lista de Categorias", "ListaCategorias", null, new { @class = "btn btn-primary" })
        </div>
    </div>
}
